name: Build and test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.11.0-dev"
        - "3.10"
        - "3.9"
        - "pypy3.9"
        - "3.8"
        - "pypy3.8"

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install prerequisites
      run: |
        python -m pip install --upgrade pip build
    - name: Build package
      run: |
        python -m build
    - name: Install package
      run:
        pip install -e '.[dev]'
    - name: Test with pytest
      run: |
        pytest
