name: Publish

on:
  release:
    types: ['created']

jobs:
  build-and-test:
    uses: ./.github/workflows/test.yml
  publish:
    runs-on: ubuntu-latest
    needs: [build-and-test]
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - run: python -m pip install --upgrade pip build
    - run: python -m build
    - if: startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_TOKEN }}
